.image-container img {
	width: 200px;
}

.list-group .list-group-item {
	background-color: rgba(34, 34, 34, 0.651);
}

.list-group .list-group-item:hover {
	background-color: rgba(41, 41, 41, 0.651);
	cursor: pointer;
}

.item-list {
	border: 1px solid black;
	border-radius: 6px;
	margin: 10px 0;
}